.card {
  width: 20%;
  padding: 0 10px;
}

.card .card-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card .card-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: 50%;
  border-radius: 5px 5px 0 0;
}

.card .content {
  padding: 2px 16px;
}

.card .content h4 ~ {
  color: #000;
}

.flip-card {
  width: 20%;
  height: 100%;
  transition: 0.3s;
  padding: 0 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-inner .content {
  padding: 2px 16px;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front img {
  width: 100%;
  height: 50%;
  border-radius: 5px 5px 0 0;
}

.flip-card-back {
  color: #000;
  transform: rotateY(180deg);
  text-align: center;
  padding: 15px 10px;
}
