* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
#header {
  width: 100%;
  height: 100px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  position: fixed;
  z-index: 2;
  padding: 0px 50px 0px 50px;
  transition: 0.2s;
  align-items: center;
}

#brand-name {
  margin: 0 auto;
  font-size: 1.7em;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
  line-height: 1;
  margin: 25px 0px;
}

#header-icon {
  font-size: 25px;
  float: right;
  margin: 25px 0px;
}

#header-icon .fa-bars {
  color: #ffffff;
}

.items {
  display: none;
}

#header-items-container a {
  text-decoration: none;
  color: #ffffff;
  line-height: 3;
}

#log-in a {
  text-decoration: none;
  color: #000000;
  line-height: 3;
  padding: 10px 35px 10px 0px;
  background-color: #ffffff;
}

#header.sticky-header {
  background-color: #141414 !important;
  height: 80px;
}

.sticky-header #header-items-container a {
  line-height: 0.6;
}

.sticky-header #log-in a {
  line-height: 0.6;
}

#header.responsive {
  background: #141414;
  height: 100vh;
}

.responsive .items {
  display: block;
  width: 100px;
  margin-right: -20px;
}

/* Popup */
#popup {
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
}

/* Form */
#form {
  background-color: rgb(255, 255, 255);
  width: 500px;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  padding: 24px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 25px;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

#form:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

#form .type-form {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

#form .type-form:not(:first-child) {
  display: none;
}

#form #close-form {
  position: absolute;
  top: -20px;
  right: -10px;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}

#form #close-form:hover {
  color: rgb(240, 148, 28);
}

.type-form .form-name {
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  font-weight: 400;
  margin-bottom: 15px;
}

.type-form input {
  width: 80%;
  height: 32px;
  margin: 16px 0px;
}

#form #redirect-button {
  width: 100%;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#redirect-button #login,
#register {
  width: 20%;
  height: 32px;
  background-color: rgb(134, 143, 155);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px auto;
  cursor: pointer;
  font-size: 16px;
  color: rgb(245, 245, 245);
}

#redirect-button #login:hover,
#register:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
  background-color: rgb(245, 245, 245);
  color: rgb(134, 143, 155);
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

/* Cover */
#cover {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.65);
  height: 100vh;
  width: 100%;
  position: absolute; /*absolute with the cover*/
  z-index: 1;
}

.cover-title {
  position: relative;
  width: fit-content;
  color: #ffffff;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  text-align: center;
  border-right: 2px solid #ffffff;
  white-space: nowrap;
  overflow: hidden;
  animation: blink-caret 0.75s infinite;
  z-index: 1;
}

.cover-title h1 {
  position: relative;
  font-weight: 300;
  font-size: 2em;
  display: flex;
  letter-spacing: 0.1em;
  flex-wrap: wrap;
  text-align: center;
}

.cover-subtitle {
  position: relative;
  color: #ffffff;
  height: 1.5em;
  top: 2em;
  overflow: hidden;
  z-index: 1;
}

.cover-subtitle h3 {
  font-weight: 300;
  font-size: 1em;
  letter-spacing: 0.1em;
  animation: slide-up 4s 1;
}

/* Introduction */
#introduction {
  display: flex;
  justify-content: space-around;
  flex: 100%;
  background-color: #f5f5f5;
  text-align: center;
}

#intro-left {
  flex: 50%;
  padding: 0px 50px 20px 50px;
}

#intro-left #intro-title {
  color: #000000;
  text-align: left;
  padding: 20px 0px;
  font-weight: bold;
  font-size: 35px;
  border-bottom: 1px solid #868f9b;
}

#intro-left #intro-line {
  height: 10px;
  width: 25%;
  background-color: #9dabbe;
}

#intro-left #intro-content {
  font-size: 20px;
  line-height: 25px;
  color: #868f9b;
  text-align: justify;
  padding: 20px 0px;
}

#intro-content #content-main {
  color: #868f9b;
}

#intro-content .content-special {
  color: #868f9b;
  padding-top: 10px;
}

.content-special i {
  color: #868f9b;
  padding-right: 20px;
}

#intro-right {
  flex: 50%;
  padding: 30px 50px;
}

#intro-right #slider-image {
  height: 320px;
  position: relative;
}

#slider-image .image-show {
  display: none;
  width: 100%;
  height: 100%;
}

#slider-image .image-active {
  display: block;
}

#slider-image #image-back {
  background-color: #868f9b;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 45%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#slider-image #image-forward {
  background-color: #868f9b;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 45%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro-right #slider-dot {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#slider-dot .dot {
  font-size: 15px;
  color: #a1aabb73;
  padding: 10px;
}

#slider-dot .dot-active {
  color: #868f9b;
}

/* Blog */
#blog {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#blog .card-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
  color: #868f9b;
}

#blog .card-container {
  height: 400px;
  margin-top: 20px;
}

.card-list .post-title {
  font-size: 20px;
  font-weight: 600;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px;
}

.card-list .post-content {
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 5px;
}

.card-list .post-view {
  text-align: center;
  padding: 5px;
}

#blog #blog-direction {
  background-color: #868f9b;
  color: #f5f5f5;
  border-radius: 5px;
  height: 50px;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

#blog #blog-direction:hover {
  background-color: #f5f5f5;
  color: #868f9b;
  animation: shake 1s infinite;
}

/* Github */
#github {
  background-color: #f5f5f5;
  height: auto;
  text-align: left;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#github .card-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  color: #242d4c;
}

#github .card-list .card-container {
  height: auto;
  width: 100%;
  margin-top: 20px;
}

#github .card-container .card {
  height: 100%;
  box-shadow: 10px 10px 25px #0000000a;
  padding: 20px;
}

.git-title {
  font-size: 30px;
  font-weight: 500;
}

#git-button {
  background-color: #868f9b;
  color: #f5f5f5;
  border-radius: 5px;
  height: 50px;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  font-size: 16px;
}

.fa-github {
  padding: 10px;
  font-size: 20px;
}

/* Youtube */
#youtube {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#youtube .card-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
  color: #868f9b;
}

#youtube .card-container {
  height: 300px;
  margin-top: 20px;
}

#youtube .content {
  position: relative;
  height: 50%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-list .video-title {
  font-size: 20px;
  font-weight: 600;
  text-align: justify;
  overflow: hidden;
  padding: 5px;
}

.card-list .video-view {
  vertical-align: bottom;
  text-align: center;
  padding: 5px;
  position: absolute;
  bottom: 10px;
}

#youtube #youtube-direction {
  background-color: #868f9b;
  color: #f5f5f5;
  border-radius: 5px;
  height: 50px;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 5px auto;
}

#youtube #youtube-direction:hover {
  background-color: #f5f5f5;
  color: #868f9b;
  animation: shake 1s infinite;
}

#youtube #youtube-sub {
  border-radius: 5px;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px auto 10px auto;
  position: relative;
  padding: 0 10px;
}

#youtube-sub #youtube-avatar {
  background-color: rgb(255, 0, 0);
  border-radius: 50px;
  height: 50px;
  width: 50px;
  margin: 0 0 0 auto;
}

#youtube-info {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto 0 10px;
  width: 40%;
}

#youtube-info #name {
  width: 80%;
  text-align: left;
  font-size: 20px;
}

#youtube-info #subscribe {
  width: 80%;
  text-align: left;
  font-size: 15px;
}

#youtube-sub #youtube-subscribe {
  background-color: rgb(255, 0, 0);
  color: white;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 0 auto;
}

#youtube-sub #youtube-subscribe:hover {
  background-color: #f5f5f5;
  color: #868f9b;
  animation: shake 3s infinite;
}

/* Contributor */
#contributor {
  background-color: #263238;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  position: relative;
}

.container {
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  color: #ffffff;
}
.container h1 {
  padding-top: 0.8em;
  font-weight: 300;
  font-size: 2em;
}

.container:nth-child(2) h1 {
  padding-top: 0em;
}

.people {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  justify-items: center;
  text-align: center;
  padding-left: 2em;
}

.person {
  padding: 1em 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  text-align: center;
  position: relative;
  align-items: flex-end;
}

.person img {
  display: block;
  width: 8em;
  height: 8em;
  border-radius: 10%;
}

.person .info {
  height: auto;
  padding-left: 0.5em;
  overflow: hidden;
  text-align: left;
  font-weight: 100;
  color: #9dabbe;
  position: relative;
}

.person .info h2 {
  font-size: 1em;
  font-weight: 200;
  color: #ffffff;
}

/* Footer */
#footer {
  background-color: #263238;
  max-width: 100vw;
  padding: 20px 0;
  color: #ffffff;
  text-align: center;
}

#text-title {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 12px;
  font-size: 3em;
}

#contact {
  margin-top: 20px;
  margin-bottom: 25px;
}

#contact .icon {
  margin-left: 8px;
  margin-right: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon img {
  width: 60%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  width: 60px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 2px 0;
  border-radius: 6px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 66%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptext {
  top: 115%;
  left: 90%;
  margin-left: -60px;
  font-size: 12px;
}
