@media screen and (max-width: 600px) {
  #header .header-item:not(:first-child) {
    display: none;
  }

  #header .header-icon {
    display: block;
    float: right;
    font-size: 30px;
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  #header.responsive {
    flex-direction: column;
    position: relative;
  }

  #header.responsive .header-icon {
    position: absolute;
    top: 0;
    right: 0;
  }

  #header.responsive .header-item {
    display: block;
    text-align: left;
  }
}

/*Cover*/
@media screen and (max-width: 630px) {
  .cover-title {
    position: relative;
    border-right: 2px solid rgba(255,255,255,0.75);
    animation: typing-responsive 2.5s steps(17) 0.5s 1 normal both, blink-caret .75s infinite;
  }
  
  .cover-title h1 {
    font-weight: 300;
    font-size: 2.2em;
    letter-spacing: 0.1em;
  }
}

@media screen and (max-width: 630px) {
  .cover-subtitle {
    height: 1.5em;
    overflow: hidden;
  }

  .cover-subtitle h3 {
    height: 1em;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 0.1em;
    animation: slide-up 4s 1;
  }
}