/* Header */
@media screen and (max-width: 576px) {
  #header {
    position: fixed;
    background: #ffffff;
    height: 80px;
  }

  #header #brand-name {
    color: #000000;
    text-align: center;
    flex-grow: 1;
  }

  #header #header-icon {
    position: absolute;
    float: left;
    display: block;
    font-size: 25px;
    margin: 30px 35px;
  }

  #header .fa-bars {
    color: #000000b0;
  }

  #header #header-item {
    display: none;
  }

  #header #header-item a {
    color: #ffffff;
  }
}

@media screen and (max-width: 576px) {
  #header.responsive .fa-bars {
    color: #ffffff;
  }

  #header.responsive {
    position: fixed;
    background: #1b1b1b;
    width: 100%;
    height: 100vh;
  }

  #header.responsive #header-item {
    display: inline-block;
  }

  #header.responsive #header-item a {
    width: 60vh;
    text-align: right;
    padding: 10px 30px;
    margin: 30px 10px;
  }

  #header.responsive #brand-name {
    display: none;
  }
}

/*Cover*/
@media screen and (max-width: 576px) {
  .cover-title {
    position: relative;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    animation: typing-responsive 2.5s steps(17) 0.5s 1 normal both, blink-caret 0.75s infinite;
  }

  .cover-title h1 {
    font-weight: 300;
    font-size: 2.2em;
    letter-spacing: 0.1em;
  }
}

@media screen and (max-width: 576px) {
  .cover-subtitle {
    height: 1.5em;
    overflow: hidden;
  }

  .cover-subtitle h3 {
    height: 1em;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 0.1em;
    animation: slide-up 4s 1;
  }
}

/* Introdution */
@media screen and (max-width: 576px) {
  #introduction {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  #intro-right #slider-image {
    height: 250px;
  }
}

/* Blog */
@media screen and (min-width: 320px) {
  .card-list .card-container {
    width: 320px;
  }

  #blog #blog-direction {
    width: 300px;
  }
}


/*Contributor*/
@media screen and (max-width: 768px) {
  .container h1 {
    padding-top: 1em;
    font-weight: 300;
    font-size: 3em;
  }

  .person {
    padding: 2.5em 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    position: relative;
  }

  .person img {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0.6;
    transition: 0.5s;
  }

  .person img:hover {
    width: 16vh;
    height: 16vh;
    opacity: 1;
  }

  .person h2 {
    font-size: 1.2em;
    font-weight: 200;
  }
}

@media screen and (max-width: 576px) {
  .container h1 {
    padding-top: 0.8em;
    font-weight: 300;
    font-size: 2.5em;
  }

  .person {
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    position: relative;
  }

  .person img {
    width: 12vh;
    height: 12vh;
    border-radius: 50%;
    opacity: 0.6;
    transition: 0.5s;
  }

  .person img:hover {
    width: 14vh;
    height: 14vh;
    opacity: 1;
  }

  .person h2 {
    font-size: 1em;
    font-weight: 200;
  }
}